<div class="container-fluid search-container">
    <div>
        <h1>Search</h1>
        <mat-form-field class="full-width">
            <input matInput [(ngModel)]="searchText" placeholder="Search song by keyword">
        </mat-form-field>
    </div>
    <ul class="container-fluid">
        <li *ngFor="let song of songs | songFilter: searchText" (click)="onSelect(song)" class="responsive-cards-div">
            <mat-card class="song-card">
                <mat-card-header>
                    <div mat-card-avatar class="song-header-image"></div>
                    <mat-card-title>{{ song.title }}</mat-card-title>
                    <mat-card-subtitle>{{ song.author }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    {{ song.lyric[0] }}<br>
                    {{ song.lyric[1] }}
                </mat-card-content>
            </mat-card>
            <div class="button-div">
                <button mat-raised-button routerLink="/song-present" routerLinkActive="active" class="formatted-button" (click)="onSelect(song)">Present</button>
            </div>
        </li>
    </ul>
</div>
