<div class="create-container">
    <h1>Create Song</h1>
    <mat-form-field>
        <input matInput [(ngModel)]="songDetails.title" placeholder="Title">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Lyric</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="0"
                  cdkAutosizeMaxRows="10" [(ngModel)]="songDetails.lyric"></textarea>
    </mat-form-field>
    <div class="button-div">
        <button class="formatted-button" mat-raised-button>Close</button>
        <button class="formatted-button" mat-raised-button (click)="addSong()">Create</button>
    </div>
</div>